[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ujson = "*"
requests = "*"
psutil = "*"


[dev-packages]
black = "*"
"flake8" = "*"
mypy = "*"
pytest = "*"
pytest-timekeeper = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
